/**************************/
/* COLORS */
/**************************/
$primary: #4A3FC5;
$light-primary: #9fa6e2;
$second-primary: #CBFD13;
$secondary: #6F7FD4;
$very-light-primary: #CFD2F1;
$font-link-color: #118586;
$button-primary-color: #118586;
$background: #F5F5F5;
$border-color: #dddae0;
$font-dark:#1b1b1b;
$font-dark-grey: #515151;
$success: #3bd378;
$light-green: #DEFFED;
$light-red: #ffcece;
$warning: #FF0202;
$font-medium-grey: #898989;
$color-white: #FFF;
$color-black:#000;
$color-grey:#CCC;
$color-light-green: #14B2A9;
$color-light-grey:#F8F8FA;
$color-table-heading:#EFEFEF;
$light-orange: #CFD2F1;
$light-black:#06152B;
$light-yellow:#FFF7DF;
$yellow: #ffc500;
$sky-blue: #11ceff;
$light-sky-blue: #e8faff;
$heading: #404040;
$modal-header-bg: #F1F1F1;
$disabled-button: #D1D4D6;
$sub-title: #404040;
$shadow-color: #00000047;
$light-opacity-color: rgba(207, 210, 241, 0.3);

/**************************/
/* FONT WEIGHT */
/**************************/
$font-bold: 700;
$font-medium-bold0: 600;
$font-medium-bold1: 400;


/**************************/
/* FONT FAMILY */
/**************************/
$font-family: "Source Sans";
$font-family-bold: "Source Sans Bold";
$font-family-medium: 'Source Sans Medium';
$font-family-light: 'Source Sans Light';

